.container{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.header{
  flex:30%;
  background-color: lightgray;
}
.menu{
  flex: 25%;
  background-color: darkgray;
  display:flex;
  align-items: center;
}
.menu a{
  padding: 15px 20px;
  color: pink;
}
.menu hover{
  background-color: lightgray;
  color: black;
}
.content{
  flex: 40%;
  background-color: white;
}
.content iframe{
  flex: 1;
  border: none;
  width: 100%;
  height: 100%;
}
.footer{
  flex: 5%;
  background-color: lightgray;
}
h1 {
  color: green;
}
.tieude {
  color: tomato;
  font-weight: bold;
  font-size: 20pt;
}
.noidung {
  color: black;
  font-style: normal;
  font-size: 14pt;
}
